.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.2em;
    background-color: rgb(49, 45, 45);
    color: #ffffff;
    border-radius: 5em;
  }

  .active-link {
    color: white !important;
    border-color: #ffffff !important;
}

  .backdropFilter{
    backdrop-filter: blur(100px);
    color: #ffffff;
  }

  .nav-item > .active-link {
    background-color:#ffffff !important;
}





